{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'homepage/index.css' %}">
{% endblock %}

{% block content %}
<div class="home-container">
  <div class="homepage-details">
    <div id="hot-topics">
      <div id="topics-heading">
        <h3>Hot Topics!</h3>
      </div>
      <div id="category-list">
        <div id="cat-ul">
          <ul>
            {% for category in categories %}
              <li class="single-category"><a href="{% url 'category-threads' category.name %}"> {{ category.name|capfirst }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div id="trending">
      <div id="news-stories">
      </div>
      <div id="trending-stories">
        {% for post in page_obj %}
        {% if post.is_approved == True %}
          {% if post.image %}
            <a href="{% url 'single-thread' post.slug %}">
              <div class="new-posts">
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                <div class="text-content">
                  <p>Author : {{ post.created_by }}</p>
                  <h4> {{ post.title }} </h4>
                  <p> {{ post.get_excerpt }} </p>
                </div>
              </div>
            </a>
          {% else %}
            <a href="{% url 'single-thread' post.slug %}">
              <div class="new-posts">
                <div class="text-content">
                  <p>Author : {{ post.created_by }}</p>
                  <h4> {{ post.title }} </h4>
                  <p> {{ post.get_excerpt }} </p>
                </div>
              </div>
            </a>
          {% endif %}
        {% endif %}
        {% endfor %}
        <div id="pag-buttons">
          <div class="pagination">
            <span class="step-links">
              {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
    
              <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
    
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
