{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'homepage/index.css' %}">
{% endblock %}

{% block content %}
<div class="home-container">
  <div class="homepage-details">
    <div id="hot-topics">
      <div id="topics-heading">
        <h3>Hot Topics!</h3>
      </div>
      <div id="category-list">
        <div id="cat-ul">
          <ul>
            {% for category in categories %}
              <li class="single-category"> <a href="">{{ category.name }} </a> </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div id="trending">
      <div id="news-stories">

      </div>
      <div id="trending-stories">

      </div>
    </div>
  </div>
</div>
<!--
<div class="container">
  <div class="row" id="index-main">

    <div class="categories-div">
      <div id="topics-heading">
        <h3>Hot Topics!</h3>
      </div>
      <div id="category-list">
        <div id="cat-ul">
          <ul>
            {% for category in categories %}
              <li class="single-category"> <a href="">{{ category.name }} </a> </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>


    <div id="trending-posts" class="">
     <div class="trending-column"> 
      <div id="news-stories">
        <h4>Trending in the news</h4>
      </div>
      <div id="random-trends">
        <ul>
          {% for post in posts %}
          {% include  "homepage/includes/post.html" %}
          {% endfor %}
      </ul>
      </div>

    </div>
  </div>
  </div>
</div>
-->
{% endblock %}
