{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'homepage/index.css' %}">
{% endblock %}

{% block content %}
<div class="home-container">
  <div class="homepage-details">
    <div id="hot-topics">
      <div id="topics-heading">
        <h3>Hot Topics!</h3>
      </div>
      <div id="category-list">
        <div id="cat-ul">
          <ul>
            {% for category in categories %}
              <li class="single-category"><a href="{% url 'category-threads' category.name %}"> {{ category.name|capfirst }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div id="trending">
      <div id="news-stories">
      </div>
      <div id="trending-stories">
        {% for post in posts %}
        <a href="{% url 'single-thread' post.slug %}">
            <div class="new-posts">
              <h4> {{ post.title }} </h4>
            </div>
          </a>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
