main {
    height: 100vh;
}

/*Home page - Index page*/
.homepage-details {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

#hot-topics {
    height: 95%;
    width: 20%;
    border: 2px solid grey;
    border-radius: 4px;
    margin-top: 30px;
    background-color: rgb(72, 207, 203, 0.3);
    text-align: center;
    justify-content: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}

#trending {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 50%;
    margin-left: 10%;
}

#cat-ul > ul {
    list-style-type: none;
    padding-left: 0; 
}

.single-category {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-bottom: 1px solid black;
    box-shadow:1px 1px rgba(0, 0, 0, 0.3);
}

#news-stories {
    display: flex;
    flex-direction: row;
    height: 30vh;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
}

.new-posts{
    height: 200px;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 28px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 28px -4px rgba(0,0,0,0.75);
    background-color: rgb(34, 151, 153, 0.7);
    display: flex;            /* Align children (image and text) horizontally */
    align-items: flex-start;  /* Align items to the top */
    margin-bottom: 20px;
}

.new-posts h4, .new-posts p {
    margin: 0;
    padding: 0;
}

.new-posts > img {
    width: auto;            
    height: 100%;
    border-radius: 3px;
    border: 2px solid gray;
    max-width: 50%;             
    margin-right: 20px;       
    object-fit: cover;        
}


.new-posts .text-content {
    overflow-y: auto;        /* Enable vertical scrolling */
    max-height: 100%;        /* Ensure the text content doesn't overflow beyond the parent container */
    padding-right: 20px;            
}

.new-posts .text-content h4 {
    font-size: 1.2em;         
    font-weight: bold;
    margin-bottom: 8px;       
}
  
  .new-posts .text-content p {
    font-size: 1em;           
    color: #555;              
}


#trending-stories {
    height: 100vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


/* Individual category page */

.cat-posts {
    margin-top: 20px;
    padding: 0;
}

.posts {
    border-bottom: 1px solid black;
    background-color: rgb(34, 151, 153, 0.7);
    margin-bottom: 1px;
    padding: 5px; 
    height: 100px;
}


.cat-posts > a {
    display: block; 
}


.cat-posts a {
    margin: 0;
    padding: 0;
    display: block;
}