main {
    height: 100vh;
}

.homepage-details {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

#hot-topics {
    height: 90vh;
    width: 25%;
    border: 1px solid black;
    margin-top: 20px;
    background-color: rgb(182, 244, 249, 0.7);
    text-align: center;
    justify-content: center;
}

#trending {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 50%;
    margin-left: 30px;
}

#cat-ul > ul {
    list-style-type: none;
    padding-left: 0; 
}

.single-category {
    margin: 3px;
    border: 1px solid black;
}

#news-stories {
    display: flex;
    flex-direction: row;
    height: 30vh;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
}

.new-posts {
    border: 1px solid black;
    margin: 5px;
}

#trending-stories {
    height: 100vh;
    border: 1px solid black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
