main {
    height: 100vh;
}

.homepage-details {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

#hot-topics {
    height: 95%;
    width: 20%;
    border: 2px solid grey;
    border-radius: 4px;
    margin-top: 30px;
    background-color: rgb(72, 207, 203, 0.3);
    text-align: center;
    justify-content: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}

#trending {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 50%;
    margin-left: 10%;
}

#cat-ul > ul {
    list-style-type: none;
    padding-left: 0; 
}

.single-category {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-bottom: 1px solid black;
    box-shadow:1px 1px rgba(0, 0, 0, 0.3);
}

#news-stories {
    display: flex;
    flex-direction: row;
    height: 30vh;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
}

.new-posts{
    height: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    overflow: scroll;
}

#trending-stories {
    height: 100vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
